Import data

In [25]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

Import csv file and make in to Data base (3 datasets)

In [2]:
csv_file = "../project/country_profile_variables.csv"
country_profile = pd.read_csv(csv_file)
country_profile.head() #rename all columns
country_profile = country_profile.rename(columns = {' country_id':'country_id','Surface area (km2)':'surface_area','Population in thousands (2017)':'population_in_thousands','Population density (per km2, 2017)':'population_density',
                                  'Sex ratio (m per 100 f, 2017)':'sex_ratio','GDP: Gross domestic product (million current US$)':'gdp_gross_domestic_product',
                                  'GDP growth rate (annual %, const. 2005 prices)':'GDP_growth_rate', 'GDP per capita (current US$)':'GDP_per_capita',
                                  'Economy: Agriculture (% of GVA)':'economy_agriculture','Economy: Industry (% of GVA)':'economy_industry','Economy: Services and other activity (% of GVA)':'economy_services_other',
                                  'Employment: Agriculture (% of employed)':'employment_agriculture_percentage_employed','Employment: Industry (% of employed)':'employment_industry','Employment: Services (% of employed)':'employment_services_employed',
                                 'Unemployment (% of labour force)':'unemployment_labour_force','Labour force participation (female/male pop. %)':'labour_force_participation',
                                 'Agricultural production index (2004-2006=100)':'agricultural_production_index','Food production index (2004-2006=100)':'food_production',
                                  'International trade: Exports (million US$)':'international_trade_exports','International trade: Imports (million US$)':'international_trade_imports',
                                 'International trade: Balance (million US$)':'international_trade_balance','Balance of payments, current account (million US$)':'balance_payments_current_account',
                                 'Population growth rate (average annual %)':'population_growth_rate','Urban population (% of total population)':'urban_population_total',
                                 'Urban population growth rate (average annual %)':'urban_population_growth_rate','Fertility rate, total (live births per woman)':'fertility_rate_total',
                                 'Life expectancy at birth (females/males, years)':'life_expectancy_at_birth','Population age distribution (0-14 / 60+ years, %)':'population_age_distribution',
                                 'International migrant stock (000/% of total pop.)':'international_migrant_stock','Refugees and others of concern to UNHCR (in thousands)':'Refugees_other_concerns',
                                 'Infant mortality rate (per 1000 live births':'infant_mortality_rate','Health: Total expenditure (% of GDP)':'health_total_expenditure',
                                 'Health: Physicians (per 1000 pop.)':'health_physicians','Education: Government expenditure (% of GDP)':'education_government_expenditure',
                                 'Education: Primary gross enrol. ratio (f/m per 100 pop.)':'education_primary_gross_enrol','Education: Secondary gross enrol. ratio (f/m per 100 pop.)':'education_secondary_gross_enrol',
                                 'Education: Tertiary gross enrol. ratio (f/m per 100 pop.)':'education_tertiary_gross_enrol','Mobile-cellular subscriptions (per 100 inhabitants)':'mobile_cellular_subs',
                                 'Mobile-cellular subscriptions (per 100 inhabitants).1':'mobile_cellular_subs_2','Individuals using the Internet (per 100 inhabitants)':'individuals_using_internet',
                                 'Threatened species (number)':'threatend_species','Forested area (% of land area)':'forest_area',
                                 'CO2 emission estimates (million tons/tons per capita)':'coq2_emission_est','Energy production, primary (Petajoules)':'energy_production_primary',
                                 'Energy supply per capita (Gigajoules)':'energy_supply_per_capita','Pop. using improved drinking water (urban/rural, %)':'pop_using_drinking_water',
                                 'Pop. using improved sanitation facilities (urban/rural, %)':'pop_using_improved_sanitation_facilities','Net Official Development Assist. received (% of GNI)':'net_offical_development_assist',
                                                          'Seats held by women in national parliaments %':'seats_held_by_women_parliment'}).copy()
country_profile.head()

,country_id,country,Region,surface_area,population_in_thousands,population_density,sex_ratio,gdp_gross_domestic_product,GDP_growth_rate,GDP_per_capita,...,mobile_cellular_subs_2,individuals_using_internet,threatend_species,forest_area,coq2_emission_est,energy_production_primary,energy_supply_per_capita,pop_using_drinking_water,pop_using_improved_sanitation_facilities,net_offical_development_assist
0,1,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,2,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,3,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,4,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,5,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,...,96.9,13,34,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [18]:
csv_file1 = "../project/carlos_cleaned.csv"
country_ranking1 = pd.read_csv(csv_file1)
country_ranking2 = pd.DataFrame(country_ranking1)
country_rankings = country_ranking2.drop(columns = ['Unnamed: 0'], axis = 1)
country_rankings.head()

,country,Ease_of_Doing_Business_Rank,Starting_a_Business,Dealing_with_Construction_Permits,Getting_Electricity,Registering_Property,Getting_Credit,Protecting_Minority_Investors,Paying_Taxes,Trading_across_Borders,Enforcing_Contracts,Resolving_Insolvency,country_id
0,New Zealand,1,1,3,37,1,1,2,9,56,21,32,146
1,Singapore,2,6,16,12,19,29,4,7,42,2,27,183
2,Denmark,3,34,1,16,11,42,33,8,1,32,7,58
3,"Korea, Rep.",4,9,28,2,39,55,20,24,33,1,5,188
4,"Hong Kong SAR, China",5,3,5,4,55,29,9,3,31,28,43,188

In [26]:
csv_file2 = "../project/final_db_goverment.csv"
government_df = pd.read_csv(csv_file2)
government_dfs = pd.DataFrame(government_df)
new_government_data = government_dfs.drop(columns = ['Unnamed: 0'], axis = 1)
no_na_government_data = new_government_data.dropna(how = 'any')
no_na_government_data.head()

,country_id,country,year,ISO_code,economic_freedom,rank,quartile,government_consumption,transfers,gov_enterprises,...,sound_money,tariffs,regulatory_trade_barriers,black_market,control_movement_capital_ppl,trade,credit_market_reg,labor_market_reg,business_reg,regulation
0,2,Albania,2015,ALB,7.53,34.0,1.0,8.185294,7.509902,8.0,...,9.585625,8.872444,7.422175,10.00000,6.155187,8.112452,7.543000,6.830576,6.733388,7.035655
1,3,Algeria,2015,DZA,4.83,156.0,4.0,1.611765,7.817129,0.0,...,6.852790,6.836267,2.143695,5.56391,1.489857,4.008432,5.190333,4.941935,5.662040,5.264770
2,6,Angola,2015,AGO,5.44,148.0,4.0,6.235294,8.886739,0.0,...,6.885465,6.964800,1.566369,10.00000,2.044823,5.143998,8.731572,4.560325,4.904853,6.065583
3,9,Argentina,2015,ARG,4.98,153.0,4.0,5.285294,6.048930,6.0,...,6.455331,5.820711,4.596701,0.00000,4.505738,3.730787,6.762000,4.965898,4.920121,5.549339
4,10,Armenia,2015,ARM,7.59,29.0,1.0,7.535294,7.748532,8.0,...,9.481225,8.760978,7.303879,10.00000,6.905621,8.242619,8.995667,6.323672,6.775412,7.364917

Use pandas to load csv converted DataFrame into database

In [20]:
rds_connection_string = "postgres:postgres@localhost:5432/Economic-_datasets"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [21]:
engine.table_names() # check to see table name, make sure they are consistent with SQL

['no_na_government_data', 'country_rankings', 'country_profile']

In [22]:
no_na_government_data.to_sql(name='no_na_government_data', con=engine, if_exists='append', index=False) #append the data into the SQL

In [23]:
country_rankings.to_sql(name='country_rankings', con=engine, if_exists='append', index=False)#append the data into the SQL

In [24]:
country_profile.to_sql(name='country_profile', con=engine, if_exists='append', index=False)#append the data into the SQL